.slide-menu-button {
  position: fixed;
  left: 30px;
  bottom: 30px;
  font-size: 50px;
  text-decoration: none;
  color:var(--r-link-color);
}

.slide-menu-button:hover {
  color:var(--r-link-color-hover);
}

.slide-menu {
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  z-index:1;
}

.slide-menu nav {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background-color: #333;
  width: 300px;
  height: 100%;
  transition: transform 0.3s, width 0.3s;
  font-size: 16px;
  transform: translateX(-100%);
  overflow-y: auto;
}

.slide-menu.active nav {
  transform: translateX(0);
}

.slide-menu nav ol {
  padding:0 0 0 15px;
  margin: 0;
}

.slide-menu nav ul {
  padding:0;
  margin: 0;
  width: 100%;
}

.slide-menu nav ul li {
  padding:0;
}

.slide-menu nav li {
  color: #aaa;
  border-bottom: solid 1px #555;
}

.slide-menu nav li > a {
  display: block;
  color: #aaa;
  text-decoration: none;
  padding: 10px 0 10px 5px;
}

.slide-menu nav li > a:hover,
.slide-menu nav li > a.active
 {
  color: white;
  background-color:#555;
}

.print-pdf .slide-menu,
.print-pdf .reveal .slide-menu-button {
  display: none;
}
